@import "./layout.css";
@import "./components/avatar.css";
@import "./pages/login.css";
@import "./pages/register.css";
@import "../../node_modules/flag-icons/css/flag-icons.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
