h1.home-size {
    font-size: 2.3rem;
    font-weight: 700;
}
p.home-size {
    font-size: 1.8rem;
}
.home.container {
    margin: 0 auto;
    margin-top: 200px;
    width:95% !important;
}

@media (min-width: 992px) {
    h1.home-size {
        font-size: 2.3rem;
        font-weight: 700;
    }
    p.home-size {
        font-size: 1.8rem;
    }
    .home.container {
        width: 75% !important;
    }
}
